@font-face {
    font-family: "Mariupol-Regular";
    src: url("Mariupol-Regular.eot");
    src: url("Mariupol-Regular.eot?#iefix") format("embedded-opentype"),
         url("Mariupol-Regular.woff2") format("woff2"),
         url("Mariupol-Regular.woff") format("woff"),
         url("Mariupol-Regular.ttf") format("ttf"),
         url("Mariupol-Regular.svg#Mariupol-Regular") format("svg");
    font-style: normal;
    font-weight: regular;
}