@font-face {
    font-family: "Roboto-MediumItalic";
    src: url("Roboto-MediumItalic.eot");
    src: url("Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"),
         url("Roboto-MediumItalic.woff2") format("woff2"),
         url("Roboto-MediumItalic.woff") format("woff"),
         url("Roboto-MediumItalic.ttf") format("ttf"),
         url("Roboto-MediumItalic.svg#Roboto-MediumItalic") format("svg");
    font-style: italic;
    font-weight: normal;
}